<html >
    <html lang="en">
<head>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <% include ../partials/head %>
</head>

<body>
    <section class="home">
    <h1>Resutlts</h1>
    <ul class="list-group">
        <% for(var i=0; i < rows.length; i++) {%>
            <li class="list-group-item">
                <%= rows[i] %>
            </li>
        <% } %>
    </ul>
    </section>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>